h2, h3, h4, h5 {
  color:darkblue;
  font-family: 'sans-serif;', sans-serif;
}
<style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 2px solid; 
      padding: 10px;
      text-align: left;
    }

    th {
      color: black;             
    }
    .h4{
      list-style-type: square;

    }
    body {
  background-color: lightskyblue; 
   }